# Created by .ignore support plugin (hsz.mobi)
*.iml
.idea
.settings
sim.pid
logs
1.log
target
log

www-zrlog.tar.gz
com.zrlog.jar
db/*
static/code
static/download
**/qiniu.properties
**/cos.properties
!static/errno-404.html
*.deb
._.DS_Store
**/._.DS_Store
**/._*