<!DOCTYPE html>
<html>
<head>
    <title>ZrLog博客主题 - 主题中心 - ZrLog 博客程序</title>
    <meta name="description" content="ZrLog 使用 Java 构建的个人博客程序 - 可能是最好用的开源Java博客系统"/>
    <meta name="keywords" content="ZrLog,博客,java开源博客,博客程序,记录日志,博客系统,建站系统,blog,java建站系统,简洁博客"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="shortcut icon" type="image/x-icon" href="https://www.zrlog.com/favicon.ico"/>
    <link href="https://www.zrlog.com/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://www.zrlog.com/assets/css/bootstrap-theme-v2.css" rel="stylesheet" type="text/css"/>
    <script src="https://www.zrlog.com/assets/js/jquery-1.10.2.min.js"></script>
    <script src="https://www.zrlog.com/assets/js/bootstrap.bundle.min.js"></script>
    <script src="https://www.zrlog.com/assets/js/auto-theme.js"></script>
    <script src="https://www.zrlog.com/assets/js/store.js?v=1"></script>
<body>
<a id="github" href="https://github.com/94fzb/zrlog" class="d-none d-lg-block">
    <img style="position: fixed; top: 0; right: 0; border: 0; z-index: 9999" src="/assets/img/fork-me-on-github.png"
         alt="Fork me on GitHub"></a>
<nav class="navbar navbar-expand-lg sticky-top navbar-custom" id="header">
    <div class="container">
        <a class="navbar-brand" href="/"><b>ZRLOG</b></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item "><a class="nav-link"
                                                                             href="https://www.zrlog.com/">主页</a>
                </li>
                <li class="nav-item "><a class="nav-link"
                                         href="https://blog.zrlog.com/">博客</a>
                </li>
                <li class="nav-item  "><a class="nav-link"
                                                                                       href="https://www.zrlog.com/template/">主题</a>
                </li>
                <li class="nav-item  "><a class="nav-link"
                                                                                     href="https://www.zrlog.com/plugin/">插件</a>
                </li>
                <li class="nav-item "><a class="nav-link" href="https://www.zrlog.com/download.html">下载</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="https://blog.zrlog.com/sort/doc.html">文档</a>
                </li>
                <li class="nav-item  "><a class="nav-link"
                                                                                   href="https://blog.zrlog.com/about.html">关于</a>
                </li>
                <li class="nav-item "><a class="nav-link" href="https://www.zrlog.com/code.html">源码</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br/><div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/template/">主题中心</a></li>
            <li class="breadcrumb-item active">ZrLog博客主题</li>
        </ol>
    </nav>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-7 col-md-6 preview-page-window">
            <a target="_blank" title="ZrLog博客主题" class="thumbnail">
                <img src="https://www.zrlog.com/attached/template/preview/template-sheshui.jpg?v=2"
                     class="img-responsive" alt="ZrLog博客主题" style="border-radius: 4px">
            </a>
            <hr class="big">
            <ul class="list-inline preview-links" style="padding-top: 20px">
                <li><a href="https://dl.zrlog.com/attachment/template/template-sheshui.zip" target="_top" class="storeInstallLink btn btn-primary">下载</a></li>
            </ul>
        </div>
        <div class="col-lg-5 col-md-6 preview-page-content">
            <h4>描述</h4>
            <p></p>

            <h4>源码</h4>
            <ul>
                <li><a href="https://gitee.com/94fzb/zrlog-templates/tree/master/template-sheshui">Gitee</a></li>
            </ul>
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <hr>
        <div class="row">
                    <div class="col-lg-12 footer-below" id="footerLink">
<p>
    <a href="https://blog.zrlog.com/faq-collect.html">FAQ</a>
    | <a href="https://blog.zrlog.com/for-developer.html">开发必看</a>
    | <a href="https://xiaochun.zrlog.com" target="_blank">博客</a>
    | <a href="https://gitee.com/94fzb" target="_blank">码云</a>
    | <a href="https://github.com/94fzb" target="_blank">GitHub</a>
    | <a href="https://www.cloudflare.com/" target="_blank">Cloudflare</a>
    | <a href="https://qiniu.com" target="_blank">七牛云</a>
</p>

<style>
    table {
        width: 100%
    }

    section .content th {
        text-align: left;
    }
</style>
            </div>
            <div class="col-lg-12 footer-below" id="copyInfo">
                <span class="copyright">&copy; 2024 ZrLog博客程序
               
                </span>
                <a href="https://beian.miit.gov.cn/" style="margin-left:8px">蜀ICP备16023991号-1
                </a>
            </div>
            <div class="col-lg-12 footer-below" style="margin-top:8px">
                <a href="https://www.zrlog.com">www.zrlog.com</a>
            </div>
        </div>
    </div>
</footer>
<div style="display:none">
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?e4de0fafca39063b06c67e34dc028186";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</div></body>
</html>
